name: comfy

services:
  comfy:
    image: oonray/comfy:latest
    ports:
      - "8080:8888"
    volumes:
      #/mnt/host/e/
      - "/mnt/host/f/AI/models:/home/oonray/ComfyUI/models/checkpoints"
      - "/mnt/host/f/AI/models:/home/oonray/ComfyUI/models/diffusion_models"
      - "/mnt/host/f/AI/text:/home/oonray/ComfyUI/models/text_encoders"
      - "/mnt/host/f/AI/lora:/home/oonray/ComfyUI/models/lora"
      - "/mnt/host/f/AI/vae:/home/oonray/ComfyUI/models/vae"
      - "/mnt/host/d/out:/home/oonray/ComfyUI/output"
      - "/mnt/host/d/inp:/home/oonray/ComfyUI/input"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]


