name: comfy

services:
  comfy:
    image: oonray/comfy:latest
    entrypoint:
      - "zsh"
      - "$${ENTRY}"
    environment:
      PUID=$${PUID: -999}
      PGID=$${PGID: -999}
    ports:
      - "8188:8080"
    restart: unless-stopped
    volumes:
      - type: volume
        source: ai_path
        target: /home/$USR/ComfyUI/models/vae
        volume:
          subpath: vae
      - type: volume
        source: out_path
        target: /home/$USR/ComfyUI/output
        volume:
          subpath: out
      - type: volume
        source: out_path
        target: /home/$USR/ComfyUI/input
        volume:
          subpath: inp
      - type: volume
        source: out_path
        target: /home/$USR/ComfyUI/workflows
      - type: volume
        source: ai_path
        target: /home/$USR/ComfyUI/models/text_encoders
        volume:
          subpath: text
      - type: volume
        source: ai_path
        target: /home/$USR/ComfyUI/models/loras
        volume:
          subpath: lora
      - type: volume
        source: ai_path
        target: /home/$USR/ComfyUI/custom
        volume:
          subpath: custom
      - type: volume
        source: ai_path
        target: /home/$USR/ComfyUI/models/checkpoints
        volume:
          subpath: models
      - type: volume
        source: ai_path
        target: /home/$USR/ComfyUI/models/diffusion_models
        volume:
          subpath: models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
