name: comfy

services:
  comfy:
    image: oonray/comfy:latest
    tty: true
    entrypoint:
      - "/usr/bin/dumb-init"
      - "--"
      - "zsh"
      - "-c"
      - "'ls /'"  #&& source /home/oonray/comfy/bin/activate'"
    command:
      - "python3"
      - "main.py"
      - "--use-sage-attention"
      - "--listen"
      - "0.0.0.0"
      - "--port"
      - "8080"
      - "--disable-auto-launch"
      - "--force-fp16"
      - "--preview-method"
      - "none"
      - "--cache-classic"
      - "--enable-manager"
      - "--normalvram"
      - "--force-non-blocking"
      - "--disable-smart-memory"
    ports:
      - "8080:8888"
    volumes:
      #/mnt/host/e/
      - "/mnt/host/f/AI/models:/home/oonray/ComfyUi/models/checkpoints"
      - "/mnt/host/f/AI/models:/home/oonray/ComfyUi/models/diffusion_models"
      - "/mnt/host/f/AI/text:/home/oonray/ComfyUi/models/text_encoders"
      - "/mnt/host/f/AI/lora:/home/oonray/ComfyUi/models/lora"
      - "/mnt/host/f/AI/vae:/home/oonray/ComfyUi/models/vae"
      - "/mnt/host/d/out:/home/oonray/ComfyUi/output"
      - "/mnt/host/d/inp:/home/oonray/ComfyUi/input"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]


