name: comfy

services:
  comfy:
    image: oonray/comfy:latest
    entrypoint:
      - "/usr/bin/dumb-init"
      - "--"
    command:
      - "source /home/$USR/comfy/bin/activate" 
      - "&&"
      - "python3"
      - "main.py"
      - "--use-sage-attention"
      - "--listen"
      - "0.0.0.0"
      - "--port" 
      - "8080"
      - "--disable-auto-launch"
      - "--force-fp16"
      - "--preview-method"
      - "none"
      - "--cache-classic"
      - "--enable-manager"
      - "--normalvram"
      - "--force-non-blocking"
      - "--disable-smart-memory"
    ports:
      - "8080:8888"
    volumes:
      - "F:\\AI\\models:/home/oonray/ComfyUi/models/checkpoints"
      - "F:\\AI\\models:/home/oonray/ComfyUi/models/diffusion_models"
      - "F:\\AI\\text:/home/oonray/ComfyUi/models/text_encoders"
      - "F:\\AI\\lora:/home/oonray/ComfyUi/models/lora"
      - "F:\\AI\\vae:/home/oonray/ComfyUi/models/vae"
      - "D:\\out:/home/oonray/ComfyUi/output"
      - "D:\\inp:/home/oonray/ComfyUi/input"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]


