#DEV
name: Docker image Dev
on:
  push:
    paths:
      - 'dev/*'
      - 'dev/**'
      - '!dev/compose/**'

jobs:
  build-dev:
    uses: oonray/Containers/.github/workflows/container.yml@main
    with:
      image: dev
      tag: v1.0.0
      base: oonray/user-debian:latest
      context: dev
    secrets:
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}
